<div class="intro-toast">
  <b>Dire Wolf</b> wake up. Choose your companion.
</div>

<div class="buttons-container">
  <button class="button button-clear button-positive"
          ng-repeat="player in $ctrl.gameState.players"
          ng-class="{'button-assertive': $ctrl.player === player}"
          ng-click="$ctrl.select(player)">
    {{player.name}}
  </button>
</div>

<button class="button button-clear button-full button-positive"
        ng-click="$ctrl.next()"
        ng-disabled="!$ctrl.player">
  Move On
</button>
