<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear button-positive" ui-sref="choose-roles">
      <i class="icon ion-arrow-left-c"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>Confirm</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive text-bold" ui-sref="set-roles">Start</button>
  </ion-nav-buttons>
  <ion-content>

    <div class="intro-toast">Confirm this is correct and then click start.</div>

    <div class="item">
      <b>Players:</b> {{$ctrl.playerString}}
    </div>

    <div class="item item-divider">Roles</div>
    <div class="grid-container">
      <img ng-src="{{role.url}}" ng-repeat="role in $ctrl.gameState.roles">
    </div>
  </ion-content>
</ion-view>
