<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear button-positive" ui-sref="choose-roles">
      <i class="icon ion-arrow-left-c"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>Confirm</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive text-bold" ui-sref="set-roles">Start</button>
  </ion-nav-buttons>
  <ion-content>
    <div class="item">
      Players: {{$ctrl.playerString}}
    </div>
    <div class="item">
      Roles: {{$ctrl.roleString}}
    </div>
  </ion-content>
</ion-view>
