<div class="intro-toast">
  <b>Witch</b> wake up. Do you want to use either of your actions tonight?
</div>

<div class="intro-toast" ng-show="$ctrl.dead">
  The Witch is dead, just waking up for appearances.
</div>

<div class="item item-icon-right" ng-click="$ctrl.weBeKillin = !$ctrl.weBeKillin" ng-show="!$ctrl.dead">
  Kill
  <i class="icon ion-checkmark" ng-show="$ctrl.weBeKillin"></i>
</div>

<div class="buttons-container" ng-show="$ctrl.weBeKillin">
  <button class="button button-clear button-positive"
          ng-repeat="player in $ctrl.gameState.players | filter:{alive:true}"
          ng-class="{'button-assertive': $ctrl.isSelected(player, 'kill')}"
          ng-click="$ctrl.select(player, 'kill')">
    {{player.name}}
  </button>
</div>

<div class="item item-icon-right" ng-click="$ctrl.weBeSavin = !$ctrl.weBeSavin" ng-show="!$ctrl.dead">
  Save
  <i class="icon ion-checkmark" ng-show="$ctrl.weBeSavin"></i>
</div>

<div class="buttons-container" ng-show="$ctrl.weBeSavin">
  <button class="button button-clear button-positive"
          ng-repeat="player in $ctrl.gameState.players | filter:{alive:true}"
          ng-class="{'button-assertive': $ctrl.isSelected(player, 'save')}"
          ng-click="$ctrl.select(player, 'save')">
    {{player.name}}
  </button>
</div>

<button class="button button-clear button-full button-positive"
        ng-show="$ctrl.canMoveOn()"
        ng-click="$ctrl.next()">
  Move On
</button>
