<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear button-positive" ui-sref="choose-players">
      <i class="icon ion-arrow-left-c"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>Choose Roles</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive" ui-sref="confirm" ng-disabled="$ctrl.selectedRoles.length !== $ctrl.gameState.playerNames.length">
      <i class="icon ion-arrow-right-c"></i>
    </button>
  </ion-nav-buttons>

  <!--Subheader for the top-->
  <div class="bar bar-subheader item item-divider selected-divider">
    <div>{{$ctrl.selectedRoles.length}} of {{$ctrl.gameState.playerNames.length}} Roles Selected</div>
    <div ng-class="{'assertive': $ctrl.totalWeight < 0, 'positive': $ctrl.totalWeight > 0}">({{$ctrl.totalWeight | plusMinus}})</div>
  </div>

  <ion-content overflow-scroll="true" class="has-subheader">

    <!--Selected roles-->
    <div class="selected-roles">
      <div class="role"
           style="background: url({{role.url}})"
           ng-repeat="role in $ctrl.selectedRoles track by $index"
           ng-src="{{role.url}}"
           ng-click="$ctrl.removeRole(role, $index)">
        <div class="center">
          <icon class="icon ion-ios-close"></icon>
        </div>
      </div>
      <div class="intro-toast">
        Pick {{$ctrl.gameState.playerNames.length}} roles you want to use in the game.
      </div>
    </div>

    <!--All roles header-->
    <div class="item item-divider">
      <span>All Roles</span>
    </div>

    <!--Grid view for all roles-->
    <div class="grid-container" ng-if="$ctrl.grid">
      <div class="grid-item" ng-repeat="role in $ctrl.allRoles track by $index" ng-click="$ctrl.addRole(role, $index)" ng-class="{'faded': role.max === 0}">
        <img ng-show="role.active" ng-src="{{role.url}}">
        <unsupported-role role="role" ng-show="!role.active"></unsupported-role>
      </div>
    </div>

  </ion-content>
</ion-view>
