<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear button-positive" ui-sref="choose-players">
      <i class="icon ion-arrow-left-c"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>Choose Roles</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive" ui-sref="confirm" ng-disabled="$ctrl.selectedRoles.length !== $ctrl.gameState.playerNames.length">
      <i class="icon ion-arrow-right-c"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>

    <div class="item item-divider selected-divider">
      <div>{{$ctrl.selectedRoles.length}} of {{$ctrl.gameState.playerNames.length}} Roles Selected</div>
      <div ng-class="{'assertive': $ctrl.totalWeight < 0, 'positive': $ctrl.totalWeight > 0}">({{($ctrl.totalWeight < 0 ? '' : '+') + $ctrl.totalWeight}})</div>
    </div>

    <div class="selected-roles">
      <div class="role"
           style="background: url({{role.url}})"
           ng-repeat="role in $ctrl.selectedRoles track by $index"
           ng-src="{{role.url}}"
           ng-click="$ctrl.removeRole(role, $index)">
        <div class="center">
          <button class="icon button-large ion-ios-close"></button>
        </div>
      </div>
      <div class="intro-toast">
        Pick {{$ctrl.gameState.playerNames.length}} roles you want to use in the game.
      </div>
    </div>

    <div class="item item-divider">All Roles</div>
    <div class="all-roles">
      <div class="role"
           style="background: url({{role.url}})"
           ng-repeat="role in $ctrl.allRoles track by $index"
           ng-click="$ctrl.addRole(role, $index)">
           <!--ng-class="{'faded': role.max === 0}">-->
        <div class="opaque center" ng-show="role.max === 0"></div>
      </div>
    </div>

  </ion-content>
</ion-view>
