<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear button-assertive" ng-click="$ctrl.gameState.startOver()">Start Over</button>
  </ion-nav-buttons>
  <ion-nav-title>{{$ctrl.phase.title}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive text-bold" ng-click="$ctrl.phase.nextAction()">{{$ctrl.phase.nextActionText}}</button>
  </ion-nav-buttons>
  <ion-content>

    <werewolf-daytime ng-show="$ctrl.phase.title === 'Day Time'"></werewolf-daytime>

    <werewolf-nighttime ng-show="$ctrl.phase.title === 'Night Time'"></werewolf-nighttime>

  </ion-content>
</ion-view>
