<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear button-assertive" ng-click="$ctrl.gameState.startOver()">Start Over</button>
  </ion-nav-buttons>
  <ion-nav-title>Set Roles</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive text-bold" ng-click="$ctrl.next()" ng-disabled="$ctrl.role === undefined">
      Next Player
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="intro-toast">
      Wake up <b>{{$ctrl.playerName}}</b>, and ask to see their card, then select it below.
    </div>

    <!--Remaining roles-->
    <div class="grid-container">
      <div class="grid-item" ng-repeat="role in $ctrl.roles track by $index" ng-click="$ctrl.selectRole($index)" ng-class="{'faded': $ctrl.role !== $index}">
        <img ng-show="role.active" ng-src="{{role.url}}">
        <unsupported-role role=role ng-show="!role.active"></unsupported-role>
      </div>
    </div>

  </ion-content>
</ion-view>
