<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear button-assertive" ng-click="$ctrl.gameState.startOver()">Start Over</button>
  </ion-nav-buttons>
  <ion-nav-title>Set Roles</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive text-bold" ng-click="$ctrl.next()" ng-disabled="$ctrl.role === undefined">
      Next Player
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="intro-toast">
      Wake up <b>{{$ctrl.playerName}}</b>, and ask to see their card, then select it below.
    </div>

    <!--Remaining roles-->
    <div class="grid-container">
      <img ng-src="{{role.url}}" ng-class="{'faded': $ctrl.role !== $index}" ng-repeat="role in $ctrl.gameState.roles track by $index" ng-click="$ctrl.selectRole($index)">
    </div>

  </ion-content>
</ion-view>
