<div ng-show="$ctrl.thisRole === $ctrl.currentRole">
  <div class="intro-toast">
    <b>Bodyguard</b> wake up. Who are you going to save?
  </div>

  <div class="intro-toast" ng-show="$ctrl.dead">
    The Bodyguard is dead, just waking up for appearances.
  </div>

  <div class="buttons-container" ng-show="!$ctrl.dead">
    <button class="button button-clear button-positive"
            ng-repeat="player in $ctrl.gameState.players"
            ng-class="{'button-assertive': $ctrl.isSelected(player)}"
            ng-disabled="$ctrl.last === player.name"
            ng-show="player.alive"
            ng-click="$ctrl.select(player)">
      {{player.name}}
    </button>
  </div>

  <button class="button button-clear button-full button-positive"
          ng-show="$ctrl.players.length === 1 || $ctrl.dead"
          ng-click="$ctrl.next()">
    Move On
  </button>
</div>
