<div class="intro-toast">
  <b>Bodyguard</b> wake up. Who are you going to save?
</div>

<div class="intro-toast" ng-show="$ctrl.dead">
  The Bodyguard is dead, just waking up for appearances.
</div>

<div class="buttons-container" ng-show="!$ctrl.dead">
  <button class="button button-clear button-positive"
          ng-repeat="player in $ctrl.gameState.players | filter:{alive:true}"
          ng-class="{'button-assertive': $ctrl.player === player}"
          ng-disabled="$ctrl.nightState.last.bodyguard === player.name"
          ng-click="$ctrl.select(player)">
    {{player.name}}
  </button>
</div>

<button class="button button-clear button-full button-positive"
        ng-disabled="!$ctrl.player && !$ctrl.dead"
        ng-click="$ctrl.next()">
  Move On
</button>
