<div class="daytime">
  <div ng-show="$ctrl.unsupportedRoles.length > 0">
    <div class="item item-divider">Unsupported Roles</div>
    <div class="grid-container">
      <img ng-src="{{role.url}}" ng-repeat="role in $ctrl.unsupportedRoles track by $index">
    </div>
  </div>

  <div class="list">
    <div class="item space-between" ng-repeat="player in $ctrl.gameState.players track by $index" ng-click="player.alive = !player.alive">
      <div ng-class="{'ded': !player.alive}">{{player.name}} ({{player.role.name}})</div>
      <div class="player-badges">
        <i class="icon ion-help" ng-show="!player.role.supported"></i>
        <i class="icon ion-forward" ng-show="player.banished"></i>
        <i class="icon ion-android-microphone-off" ng-show="player.silenced"></i>
        <i class="icon ion-heart assertive" ng-show="player.inLove"></i>
        <span class="icon green" ng-show="player.inCult">C</span>
        <span class="icon assertive" ng-show="!player.alive">RIP</span>
      </div>
    </div>
  </div>

  <textarea class="notes-field" placeholder="Write notes about the game here until I finish the super dank logic to keep track for you"></textarea>
</div>
