<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear button-positive" ui-sref="confirm">
      <i class="icon ion-arrow-left-c"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>{{$ctrl.player.name}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive text-bold" ng-click="$ctrl.next()">
      Next Player
    </button>
  </ion-nav-buttons>
  <ion-content>

    <div class="intro-toast">Wake up <b>{{$ctrl.player.name}}</b> to show them their role:</div>

    <div class="grid-item full">
      <img ng-show="$ctrl.player.role.active" ng-src="{{$ctrl.player.role.url}}">
      <unsupported-role role="$ctrl.player.role" ng-show="!$ctrl.player.role.active"></unsupported-role>
    </div>

  </ion-content>
</ion-view>
