<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear button-positive" ui-sref="confirm">
      <i class="icon ion-arrow-left-c"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>Random Roles</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive text-bold" ng-click="$ctrl.next()" ng-disabled="$ctrl.role === undefined">
      Next Player
    </button>
  </ion-nav-buttons>
  <ion-content>

    <div class="intro-toast">Ay yo, No Deck Mode (TM) is still under development, should be done soon.</div>

  </ion-content>
</ion-view>
