<div class="item space-between" ng-click="$ctrl.lynchPlayer()">
  <div ng-class="{'ded': !$ctrl.player.alive}">{{$ctrl.player.name}} ({{$ctrl.player.role.name}})</div>
  <div class="player-badges">
    <i class="icon ion-forward" ng-show="$ctrl.player.banished"></i>
    <i class="icon ion-android-microphone-off" ng-show="$ctrl.player.silenced"></i>
    <i class="icon ion-heart assertive" ng-show="$ctrl.player.inLove"></i>
    <i class="icon ion-medkit balanced" ng-show="$ctrl.player.blessed"></i>
    <i class="icon ion-android-radio-button-on positive" ng-show="$ctrl.player.direCompanion"></i>
    <span class="icon green" ng-show="$ctrl.player.inCult">C</span>
    <span class="icon brown" ng-show="$ctrl.player.hoodlum">H</span>
  </div>
</div>
