<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-class="{'button-assertive': !$ctrl.editMode, 'button-positive': $ctrl.editMode}" ng-click="$ctrl.toggleEditMode()">
      {{$ctrl.editMode ? 'Cancel' : 'Edit'}}
    </button>
  </ion-nav-buttons>
  <ion-nav-title>Choose Players</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive" ui-sref="choose-roles" ng-disabled="$ctrl.gameState.playerNames.length < 3">
      <i class="icon ion-arrow-right-c"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="intro-toast">
      Enter the names of everyone wanting to play then click the arrow to go to select some roles.
    </div>
    <div class="list">
      <form class="item item-input item-icon-right padding" ng-submit="$ctrl.addPlayer($ctrl.newPlayer)">
        <input id="new-player" type="text" placeholder="New Player" ng-model="$ctrl.newPlayer">
        <i class="icon ion-person-add positive" ng-click="$ctrl.addPlayer($ctrl.newPlayer)"></i>
      </form>
    </div>
    <div class="list">
      <div class="item item-divider space-between">
        <div>{{$ctrl.gameState.allPlayerNames.length}} Player(s)</div>
        <div class="positive">{{$ctrl.gameState.playerNames.length}} Selected</div>
      </div>
      <div class="item item-icon-right" ng-class="{'item-icon-left': $ctrl.editMode}" ng-repeat="player in $ctrl.gameState.allPlayerNames" ng-click="$ctrl.toggleSelected(player)">
        <i class="icon ion-minus-circled assertive" ng-show="$ctrl.editMode" ng-click="$ctrl.togglePlayer(player)"></i>
        {{player}}
        <i class="icon ion-checkmark positive" ng-show="$ctrl.isSelected(player)"></i>
      </div>
    </div>
    <div class="more-players-text text-center" ng-show="$ctrl.gameState.allPlayerNames.length < 3">Add at least 3 players to proceed</div>

  </ion-content>
</ion-view>
