<div class="nighttime">

  <werewolves
    next-role="cultLeader"
    ng-if="$ctrl.gameState.role.wolves">
  </werewolves>

  <cult-leader
    next-role="cupid"
    ng-if="$ctrl.gameState.role.cultLeader">
  </cult-leader>

  <cupid
    next-role="bodyguard"
    ng-if="$ctrl.gameState.role.cupid">
  </cupid>

  <bodyguard
    next-role="spellcaster"
    ng-if="$ctrl.gameState.role.bodyguard">
  </bodyguard>

  <spellcaster
    next-role="oldHag"
    ng-if="$ctrl.gameState.role.spellcaster">
  </spellcaster>

  <old-hag
    next-role="seer"
    ng-if="$ctrl.gameState.role.oldHag">
  </old-hag>

  <seer
    next-role="sorceress"
    ng-if="$ctrl.gameState.role.seer">
  </seer>

  <sorceress
    next-role="hoodlum"
    ng-if="$ctrl.gameState.role.sorceress">
  </sorceress>

  <hoodlum
    next-role="masons"
    ng-if="$ctrl.gameState.role.hoodlum">
  </hoodlum>

  <masons
    next-role="done"
    ng-if="$ctrl.gameState.role.masons">
  </masons>

  <div ng-show="$ctrl.gameState.role.done">
    <div class="intro-toast">
      All actions are done for the night, time to wake everyone.
    </div>
  </div>
</div>
