<div class="nighttime">

  <werewolves
    this-role="wolves"
    next-role="cult"
    current-role="$ctrl.gameState.role">
  </werewolves>

  <cult-leader
    this-role="cult"
    next-role="cupid"
    current-role="$ctrl.gameState.role">
  </cult-leader>

  <cupid
    this-role="cupid"
    next-role="done"
    current-role="$ctrl.gameState.role">
  </cupid>

  <div class="intro-toast" ng-show="$ctrl.gameState.role === 'done'">
    All actions are done for the night, time to wake everyone.
  </div>
</div>
