<div class="nighttime">

  <werewolves
    this-role="wolves"
    next-role="cult"
    current-role="$ctrl.gameState.role">
  </werewolves>

  <cult-leader
    this-role="cult"
    next-role="cupid"
    current-role="$ctrl.gameState.role">
  </cult-leader>

  <cupid
    this-role="cupid"
    next-role="bodyguard"
    current-role="$ctrl.gameState.role">
  </cupid>

  <bodyguard
    this-role="bodyguard"
    next-role="spellcaster"
    current-role="$ctrl.gameState.role">
  </bodyguard>

  <spellcaster
    this-role="spellcaster"
    next-role="done"
    current-role="$ctrl.gameState.role">
  </spellcaster>

  <div ng-show="$ctrl.gameState.role === 'done'">
    <div class="intro-toast">
      All actions are done for the night, time to wake everyone.
    </div>

    <div class="item item-divider">Unsupported Roles</div>
    <div class="grid-container">
      <img ng-src="{{role.url}}" ng-repeat="role in $ctrl.gameState.roles track by $index" ng-show="!role.supported">
    </div>
  </div>
</div>
