/*index.html*/
#initial-loader {
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/*common css*/
.intro-toast {
  text-align: center;
  padding: 16px;
  font-size: 16px;
}

.faded {
  opacity: .2;
}

/*choose roles css*/

.selected-divider {
  display: flex;
  justify-content: space-between;
}

.selected-roles {
  height:144px;
  text-align:left;
  white-space: nowrap;
  overflow-y:hidden;
}
.selected-roles .role {
  width:100px;
  display: inline-block;
  overflow:hidden;
  margin: 4px 0;
}

.selected-roles .role:first-child {
  margin-left: 5px;
}

.selected-roles .role:last-child {
  margin-right: 5px;
}

.all-roles {
  text-align:left;
  white-space: nowrap;
  overflow-y:hidden;
}

.all-roles .role {
  width: 300px;
  display: inline-block;
  overflow: hidden;
  margin: 10px 0px;
}

.role img {
  width: 100%;
}

/*confirm css*/
.text-bold {
  font-weight: bold !important;
}

/*play css*/
.ded {
  opacity: .5;
  background: #ccc;
}

/*OVERRIDES*/

.bar .title {
  margin: 0 5px;
}

.bar.bar-subheader {
  padding: 0;
}

.item {
  white-space: normal !important;
}
